@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image{
  background: url(/right_arrow.svg);
  background-position: center;
  /* background-size: 600px 600px; */
  height: 400px;
  background-repeat: no-repeat;
}